body, h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
.header {
    background-color: #007acc;
    color: white;
    padding: 20px;
    display: flex;    
}
.item1{
    flex: 40%;

}
.item2{
    flex: 50%;
}
.contact, .education, .skills, .project, .lang
,.act {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
